.h-unmargin-x {
  margin-right: -24px;
  margin-left: -24px;
}

.h-text-align-center {
  text-align: center;
}

.h-text-align-right {
  text-align: right;
}

.h-letter-spacing-0 {
  letter-spacing: 0;
}

.h-letter-spacing-60 {
  letter-spacing: 0.6em;
}

.h-line-height-15 {
  line-height: 1.15;
}
